@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

.box{
    grid-template-columns: 1fr 1fr;
    margin: 5vw 0;
    width: 80vw;
}

body {
    background-image: url("../resources/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    font-size: 1.5vw;
    color: white;
}

h1{
    color: orangered;
    font-size: 5vw;
}